* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  height: 200vh;
}

.flex_container {
  padding: 10px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  /*  flex-flow: row nowrap; */
  gap: 10px;
  justify-content: center;
  /* align-items: center; */
  align-content: center;
  background-color: dodgerblue;
}

.flex_container > div {
  background-color: #f1f1f1;
  width: 100px;

  text-align: center;
  line-height: 75px;
  font-size: 24px;
}

@media (max-width: 330px) {
  .flex_container {
    flex-wrap: wrap;
    flex-direction: column;
    align-content: start;
  }
}

.content_dialog {
  display: flex;
  position: fixed;
  top: 0px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: #f1f1f1;
  width: 300px;
  min-width: 300px;
  height: 600px;
}
